body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh; 
    width: 100vw;
    
}

.upper {
   
    color: rgb(63, 201, 45);
    width: 107%;
    height: 10%; /* 10% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(2, 17, 28, 0.677);
}

.lower {
    padding: 10px 0;
    width: 107%;
    height: 15%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(12, 53, 83, 0.677);
}


#username{

    width: 30%;
    height: 2rem;
    border-radius: 7px;
    border-style: none;
    margin-left: 8rem;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 5;
  
    
}
#newMsg{
    border-style: none;
    border-radius: 7px;
    height: 2rem;
    width: 35rem;
}

@media screen and (max-width: 600px) {
    #newMsg{
        
        height: 2.5rem;
        width: 60rem;
    }
  }
#btn{
    margin-right: 2.5rem;
    width: 3rem;
    height: 3rem;
    padding: 3%;
    background-size: 60%;
    background-color:#25D366;

    border-radius: 50%; /* Makes the button circular */
    background-image: url('../send-button.png'); /* Specify the path to your PNG file */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
    
}

#image{
    height: 7%;
    width: 20px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    
}


#msgList{
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: #a7e09d #11123d;
    scroll-behavior:smooth;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    overflow: auto; 
    height: 72%;
    color: rgb(255, 255, 255);
    
    padding-left: 20px;
    background-image: url('../jason-leung-Xaanw0s0pMk-unsplash.jpg');
    background-size: cover;
    background-position: center;

    li.sent-by-client {
        align-self: flex-end; 
        background-color: #0f9def; 
        margin-right: 20px;
    }
}



li{
    list-style: none;
    margin: 8px 0;
    padding: 5px 10px;
    border-radius: 7px;
    width: fit-content;
    background-color: #25D366;
    color: aliceblue;
    white-space:wrap;
    

    
}

#typing{

    position: absolute;
    left:30px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#msgdiv{
    display: flex;
}